<html layout:decorator="layout">
<!--<div layout:fragment="conten"></div>-->
<body>
<h1>list of users</h1>
<a class="btn btn-primary" href="/users/new">Add new user</a>
<table>
    <thead>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="user : ${userList}">
        <td data-th-text="${user.firstName}">user number</td>
        <td>
            <a th:href="@{'/users/{id}/delete'(id=${user.id})}" class="delete" th:attr="name=${user.lastName}">delete
                <span>
                <i class="glyphicon glyphicon-trash"></i>
            </span>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>